<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ApplicationsMapper">

    <update id="userApplication" parameterType="com.pojo.vo.UserApplicationVo">

        update bases,user_info
        <if test="base_id != null || b_joinPopulation != null">
            set b_joinPopulation = b_joinPopulation + 1 ,
                user_application = #{base_id}
        </if>
        where user_name = #{user_name} and bases.base_id = #{base_id}

    </update>



    <select id="queryUserApplication" resultType="com.pojo.vo.QueryUserApplication"
            parameterType="java.lang.Integer">
        select *
        from user_info,bases
        where user_id = #{user_id} and base_id = user_application
    </select>

</mapper>