<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.BasesMapper">

    <select id="queryBases" resultType="com.pojo.Bases">
      select *
      from bases
    </select>

    <select id="fuzzyQueryBases" resultType="com.pojo.Bases" parameterType="com.pojo.vo.QueryBasesVo">
        select *
        from bases
        where 1=1
        <if test="b_name != null and b_name != ''">
            and b_name like CONCAT('%',#{b_name},'%')
        </if>
    </select>

</mapper>