<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.BasesMapper">

    <select id="queryBases" resultType="com.pojo.Bases">
        select *
        from bases left join volunteer
        on bases.base_id = volunteer.base_id

    </select>

    <select id="fuzzyQueryBases" resultType="com.pojo.Bases" parameterType="com.pojo.vo.QueryBasesVo">
        select *
        from bases
        where 1=1
        <if test="b_name != null and b_name != ''">
            and b_name like CONCAT('%',#{b_name},'%')
        </if>
    </select>

    <delete id="delBases" parameterType="com.pojo.vo.BaseIdVo">
        delete
		from bases
		where base_id = #{base_id}
    </delete>

    <select id="queryBasesById" resultType="com.pojo.Bases" parameterType="java.lang.Integer">
        select *
        from bases left join volunteer
        on bases.base_id = volunteer.base_id
        where bases.base_id = #{base_id}

    </select>

    <select id="queryBaseMessages" resultType="com.pojo.BaseMessages" parameterType="com.pojo.vo.BaseIdVo">
        select *
        from base_messages
        where base_id = #{base_id}
    </select>

    <select id="queryBasesImagesById" resultType="com.pojo.BasesImages" parameterType="com.pojo.vo.BaseIdVo">
        select *
        from bases_images
        where base_id = #{base_id}
    </select>



</mapper>