<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.ContactMapper">
    <insert id="createContact" parameterType="com.pojo.vo.CreateContactVo">
        insert into
        contact(user_id,c_words,c_createtime)
        values(#{user_id},#{c_words},#{c_createtime});
    </insert>

</mapper>