<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.MessagesListMapper">
    <select id="allMessages" resultType="com.pojo.Messages">
        select *
        from messages;
    </select>
    <insert id="createMessage" parameterType="com.pojo.Messages">
        insert into
        messages(title,details,author,image,create_time,update_time)
        values(#{title},#{details},#{author},#{image},#{create_time},#{update_time});
    </insert>

    <select id="fuzzyQueryMessages" resultType="com.pojo.Messages" parameterType="com.pojo.Messages">
        select *
        from messages
        where 1=1
        <if test="title != null and title != ''">
            and title like CONCAT('%',#{title},'%')
        </if>
        <if test="details != null and details != ''">
            and details like CONCAT('%',#{details},'%')
        </if>

        order by create_time desc;
    </select>

</mapper>