<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">

    <select id="queryUserList" resultType="com.pojo.User">
      select *
      from user_info
      order by user_createtime desc;
    </select>

    <insert id="createUser" parameterType="com.pojo.vo.CreateUserVo">
        insert into
        user_info(user_name,user_nickname,user_password,user_type,user_mail,user_createtime,user_updatetime)
        values(#{user_name},#{user_nickname},#{user_password},#{user_type},#{user_mail},#{user_createtime},#{user_updatetime})
    </insert>

    <update id="updateUserByUserName" parameterType="com.pojo.User">
        update user_info
        <set>
            <if test="user_nickname != null">
                user_nickname = #{user_nickname},
            </if>
            <if test="user_password != null">
                user_password = #{user_password},
            </if>
            <if test="user_phone != null">
                user_phone = #{user_phone},
            </if>
            <if test="user_icon != null">
                user_icon = #{user_icon},
            </if>
            <if test="user_info != null">
                user_info = #{user_info},
            </if>
            <if test="user_city != null">
                user_city = #{user_city},
            </if>
            <if test="user_mail != null">
                user_mail = #{user_mail},
            </if>
             <if test="user_address != null">
                 user_address = #{user_address},
            </if>
            <if test="user_intro != null">
                user_intro = #{user_intro},
            </if>
            <if test="user_updatetime != null">
                user_updatetime = #{user_updatetime}
            </if>
        </set>
        where user_mail = #{user_mail}
    </update>

    <update id="forgetPassword" parameterType="com.pojo.vo.ForgetPasswordVo">
        update user_info
        <if test="user_password != null">
            user_password = #{user_password},
        </if>
        where user_mail = #{user_mail}
    </update>

</mapper>