<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.VolunteerMapper">

    <insert id="userApplication" parameterType="com.pojo.ApplicationVolunteer">
        insert into
        application_volunteer(user_id,base_id,av_status,av_application_time)
        values (#{user_id},#{base_id},#{av_status},#{av_application_time})
    </insert>

    <select id="queryAppVolunteerById" resultType="com.pojo.vo.QueryVolunteerByIdVo"
            parameterType="java.lang.Integer">
        select *
        from application_volunteer left join bases
        on application_volunteer.base_id = bases.base_id
        where application_volunteer.user_id = #{user_id}
    </select>

    <select id="queryVolunteerInfoByBaseId" resultType="com.pojo.VolunteerInfo"
            parameterType="java.lang.Integer">
        select *
        from volunteer_info left join bases
        on volunteer_info.base_id = bases.base_id
        where volunteer_info.base_id = #{base_id};
    </select>

    <update id="updateJoinPopulationByBaseId" parameterType="java.lang.Integer">
        update volunteer_info
        set vi_joinPopulation = vi_joinPopulation + 1
        where base_id = #{base_id}
    </update>

    <update id="updateStatusByBaseId" parameterType="com.pojo.ApplicationVolunteer">
        update volunteer_info
        set vi_status = #{vi_status}
        where base_id = #{base_id}
    </update>


    <insert id="createVolunteerForm" parameterType="com.pojo.VolunteerForm">
        insert into
        volunteer_form(user_id,base_id,vf_age,vf_phone,vf_join_time,vf_family_agree,vf_health,vf_join_work,vf_createTime,vf_had_car,vf_receive_train,vf_had_joined,vf_profession,vf_real_name)
        values(#{user_id},#{base_id},#{vf_age},#{vf_phone},#{vf_join_time},#{vf_family_agree},#{vf_health},#{vf_join_work},#{vf_create_time},#{vf_had_car},#{vf_receive_train},#{vf_had_joined},#{vf_profession},#{vf_real_name})
    </insert>

    <select id="queryAllVolunteer" resultType="com.pojo.VolunteerInfo">
        select *
        from volunteer_info left join bases
        on bases.base_id = volunteer_info.base_id
    </select>

</mapper>