<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.VolunteerMapper">

    <insert id="userApplication" parameterType="com.pojo.ApplicationVolunteer">
        insert into
        application_volunteer(vi_id,user_id,base_id,av_status,av_application_time)
        values (#{vi_id},#{user_id},#{base_id},#{av_status},#{av_application_time})
    </insert>

    <select id="queryAppVolunteerById" resultType="com.pojo.vo.QueryVolunteerByIdVo"
            parameterType="java.lang.Integer">
        select *
        from application_volunteer left join volunteer_info
        on application_volunteer.vi_id = volunteer_info.vi_id
        where application_volunteer.user_id = #{user_id}
    </select>

    <select id="queryVolunteerInfoByBaseId" resultType="com.pojo.VolunteerInfo"
            parameterType="java.lang.Integer">
        select *
        from volunteer_info left join bases
        on volunteer_info.base_id = bases.base_id
        where volunteer_info.base_id = #{base_id};
    </select>

    <update id="updateJoinPopulationByBaseId" parameterType="java.lang.Integer">
        update volunteer_info
        set vi_joinPopulation = vi_joinPopulation + 1
        where base_id = #{base_id}
    </update>

    <update id="updateStatusByBaseId" parameterType="com.pojo.ApplicationVolunteer">
        update volunteer_info
        set vi_status = #{vi_status}
        where base_id = #{base_id}
    </update>


    <insert id="createVF" parameterType="com.pojo.VolunteerFrom">
        insert into
        volunteer_form(vf_address,vf_age,vf_appraise,vf_info1,vf_info2,vf_info3,vf_info4,vf_info5,vf_info6,vf_createTime,user_id,base_id)
        values(#{vf_address},#{vf_age},#{vf_appraise},#{vf_info1},#{vf_info2},#{vf_info3},#{vf_info4},#{vf_info5},#{vf_info6},#{vf_createTime},#{user_id},#{base_id})
    </insert>

    <select id="queryAllVolunteer" resultType="com.pojo.VolunteerInfo">
        select *
        from volunteer_info
    </select>

</mapper>